<% breadcrumb :publicpostindex  %>
<%= breadcrumbs separator: " > " , class: :logo %>
<h1>投稿質問一覧</h1>
 <div class="oocontainer">
  <div class="row">
   <div class="word-break: break-all;">
    <%= form_with url: public_posts_path, local: true, method: :get do |f| %>
     <%= f.select :range, options_for_select([['投稿Noが新しい順に'],['投稿Noが古い順に'],['更新日時が新しい順に'],['更新日時が古い順に'],['ジャンルidが大きい順に'],['ジャンルidが小さい順に'],["PV数の多い順に"],["PV数の少ない順に"],["回答数の多い順に"],["回答数の少ない順に"],["未回答だけ"]]) %>
     <%= f.submit "回答並べ替え", class: "btn btn-dark", data: {"turbolinks"=>false} %>
    <% end %>
   </div>
   <div class="col-lg-7">
    <% if member_signed_in? %>
     <%= link_to ' 新規質問投稿する', new_public_post_path, class: 'btn btn-success btn-lg', data: {"turbolinks"=>false} %>
    <% end %>
   </div>
   <div class="col-lg-7">
    <%= paginate @posts %>
   </div>
   <div style="word-break: break-all;">
    <table class="informtable">
     <thead>
      <tr bgcolor=#66FFCC>
       <th>投稿No </th>
       <th>質問タイトル</th>
       <th>質問者 </th>
       <th>更新日時</th>
       <th>回答数</th>
       <th>ジャンルid/ジャンル名</th>
       <th>pv数</th>
       <th></th>
      </tr>
     </thead>
     <tbody>
      <% @posts.each do |post| %>
       <tr bgcolor=#EEEEEE>
        <td><%= post.id %></td>
        <td><%= link_to post.posttitle.truncate(25), public_post_path(post) %></td>
        <td>
         <%= link_to attachment_image_tag( post.member, :profileimage, fallback: "no_image.jpg", size: '40x40'), public_member_path(post.member), data: {"turbolinks"=>false} %>
         <%= post.member.name %>
        </td>
        <td><%= post.updated_at.to_s(:datetime_jp) %></td>
        <td><%= post.answers.count %></td>
        <td>[<%= post.genre.id %>]/<%= post.genre.name %></td>
        <td><%= post.impressions_count %></td>
         <% if member_signed_in? %>
          <% if post.member.id == current_member.id %>
           <td>
            <%= link_to '編集する', edit_public_post_path(post), class: 'btn btn-success', data: {"turbolinks"=>false} %>
            <%= link_to '削除する', public_post_path(post), method: :delete, class: 'btn btn-danger', data: { confirm: "本当に削除しますか？" }%>
           </td>
          <% else %>
           <td><%= "" %></td>
          <% end %>
         <% else %>
          <td><%= "" %></td>
         <% end %>
       </tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>
 </div>
