<div class="oocontainer">
  <div class="row">
    <h3>質問タイトル</h3>
     <div style="padding: 30px;  solid #333333; border-radius: 1px;">
      <h3><%= @post.posttitle %></h3>
      <% if member_signed_in? %>
       <% if @post.member.id != current_member.id %>
        <%= link_to ' 新規回答投稿する', new_public_post_answer_path(@post), class: 'btn btn-success', data: {"turbolinks"=>false} %>
       <% end %>
      <% end %>
     </div>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
         <td>質問者
          <div style="padding: 10px; border: 1px solid #333333; border-radius: 1px;">
           <%= link_to @post.member.name, public_member_path(@post.member) %>
          <br></br>
           <%= attachment_image_tag @post.member, :profileimage, :fill, 60, 60, fallback: "no_image.jpg" %>
          </div>
         </td>
         <td width="500" height="500">質問本文
          <div style="border: 1px solid #333333; border-radius: 1px;">
           <%= simple_format(@post.postbody) %>
          </div>
         </td>
         <td>出典・参考URL
          <div style="border: 1px solid #333333; border-radius: 1px;">
           <%= @post.postsyutten %>
          </div>
          参考画像
          <div style="padding: 30px; border: 1px solid #333333; border-radius: 1px;">
            <%= attachment_image_tag @post, :postimage, :fill, 90, 90, fallback: "no_image.jpg" %>
          </div>
         </td>
        </tr>
      </thead>
      <tbody>
        <% @post.answers.each do |answer| %>
        <tr>
         <td>回答者
          <div style="padding: 10px; border: 1px solid #333333; border-radius: 1px;">
           <%= link_to answer.member.name, public_member_path(answer.member) %>
           <br></br>
           <%= attachment_image_tag answer.member, :profileimage, :fill, 60, 60, fallback: "no_image.jpg" %>
          </div>
          <br>回答更新日時</br>
           <br><%= answer.updated_at.to_s(:datetime_jp) %></br>
         <% if member_signed_in? %>
          <% if answer.member.id != current_member.id %>
           <%= link_to '評価する', new_public_answer_rate_path(answer.id), class: 'btn btn-success', data: {"turbolinks"=>false} %>
          <% end %>
          <% if answer.member.id == current_member.id %>
           <%= link_to '編集する', edit_public_answer_path(answer), class: 'btn btn-success', data: {"turbolinks"=>false} %>
           <%= link_to '削除する', public_answer_path(answer), method: :delete, class: 'btn btn-danger', data: { confirm: "本当に削除しますか？" }%>
          <% end %>
         <% end %>
         </td>
         <td width="500" height="500">回答本文
         <div style="border: 1px solid #333333; border-radius: 1px;">
           <%= simple_format(answer.answerbody)%>
         </div>
         </td>
         <td>出典・参考URL
          <div style="border: 1px solid #333333; border-radius: 1px;">
           <%= answer.answersyutten %>
          </div>
          参考画像
          <div style="padding: 10px; border: 1px solid #333333; border-radius: 1px;">
           <%= attachment_image_tag answer, :answerimage, :fill, 90, 90, fallback: "no_image.jpg" %>
          </div>
         </td>
         <td width="250" height="200"><%= render 'public/rates/review', answer: answer %></td>
        </tr>
        <% end %>
        <%= paginate @answers %>
      </tbody>
    </table>

  </div>
</div>