<h2>アカウント登録</h2>
  <div class ="login">
    <%= form_for(resource, as: resource_name, url: member_registration_path) do |f| %>
     <%= render "members/shared/error_messages", resource: resource %>
     <table class="logtable">
      <tr>
       <td>登録名</td>
       <td><%= f.text_field :name, maxlength: "60", class: 'form-control', :readonly => true %></td>
      </tr>
      <tr>
       <td>メールアドレス</td>
       <td><%= f.email_field :email, maxlength: "60", class: 'form-control', :readonly => true %></td>
      </tr>
      <tr>
       <td>パスワード（入力不要)</td>
       <td><%= f.hidden_field :password, :value => 222222 %><%= f.hidden_field :password_confirmation, :value => 222222 %></td>
      </tr>
      <tr>
       <td></td>
       <td><%= f.submit "上記設定で利用する", class: 'btn btn-success btn-lg' %></td>
      </tr>
      <tr>
       <td></td>
       <td>※設定は後から更新可能です</td>
      </tr>
     </table>
    <% end %>
   </div>
  </div>
