<h2>会員ログイン</h2>
 <div class ="login">
  <div class ="bottom">
    <%= form_for(resource, as: resource_name, url: member_session_path) do |f| %>
    <table>
     <tr>
      <th><%= f.label :メールアドレス %></th>
      <th><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', size: "45" %></th>
     </tr>
     <tr>
      <th><%= f.label :パスワード %></th>
      <th><%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %></th>
     </tr>
    </table>

  <%= f.submit "ログイン", class: 'btn btn-primary btn-lg' %>
  <% end %>
   <h3>会員登録がお済みでない方</h3>
    <%= link_to "新規会員登録へ", new_registration_path(resource_name), class: 'btn btn-success btn-lg' %>
  </div>
</div>