<h2>会員ログイン</h2>
 <div class ="login">
   <%= form_for(resource, as: resource_name, url: member_session_path) do |f| %>
    <table class="logtable">
     <tr>
      <td><%= f.label :メールアドレス %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', size: "60", :placeholder => "メールアドレス入力" %></td>
     </tr>
     <tr>
      <td><%= f.label :パスワード %></td>
      <td><%= f.password_field :password, autocomplete: "current-password", class: 'form-control', :placeholder => "パスワード入力" %></th>
     </tr>
     <tr>
      <td></td>
      <td><%= f.submit "ログインする", class: 'btn btn-primary btn-lg' %></td>
     </tr>
     <tr>
      <td>会員登録がお済みでない方</td>
      <td><%= link_to "新規会員登録へ", new_registration_path(resource_name), class: 'btn btn-success btn-lg' %></td>
     </tr>
     <tr>
      <td>Googleアカウント使用なら入力不要</td>
      <td><%= link_to "Googleアカウントログイン", member_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-secondary btn-lg' %></td>
     </tr>
     <tr>
      <td>twiterアカウントも使用可能</td>
      <td><%= link_to "twitterログイン", member_twitter_omniauth_authorize_path, method: :post, class: 'fab fa-twitter btn-lg' %></td>
     </tr>
     <tr>
      <td>facebookアカウント（テスト中）</td>
      <td><%= link_to "facebookログイン(テスト中)", member_facebook_omniauth_authorize_path, method: :post, class: 'fb-login-button' %></td>
     </tr>
    </table>
   <% end %>
 </div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v13.0&appId=1126003004793474&autoLogAppEvents=1" nonce="qCL4a4HD"></script>
