<h2>会員ログイン</h2>
 <div class ="login">
   <%= form_for(resource, as: resource_name, url: member_session_path) do |f| %>
    <table class="logtable">
     <tr>
      <td><%= f.label :メールアドレス %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', size: "60", :placeholder => "メールアドレス入力" %></td>
     </tr>
     <tr>
      <td><%= f.label :パスワード %></td>
      <td><%= f.password_field :password, autocomplete: "current-password", class: 'form-control', :placeholder => "パスワード入力" %></th>
     </tr>
     <tr>
      <td></td>
      <td><%= f.submit "ログインする", class: 'btn btn-primary btn-lg' %></td>
     </tr>
     <tr>
      <td>会員登録がお済みでない方</td>
      <td><%= link_to "新規会員登録へ", new_registration_path(resource_name), class: 'btn btn-success btn-lg' %></td>
     </tr>
     <tr>
      <td>Googleアカウント使用なら入力不要</td>
      <td><%= link_to "Googleアカウントログイン", member_google_oauth2_omniauth_authorize_path, method: :post , class: 'btn btn-secondary btn-lg' %></td>
     </tr>
    </table>
   <% end %>
 </div>