<p id="notice"><%= notice %></p>
<% if admin_signed_in? %>
<h1>お知らせ一覧</h1>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>タイトル</th>
      <th>更新日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', article %></td>
        <td><%= link_to '編集', edit_article_path(article), data: {"turbolinks"=>false} %></td>
        <td><%= link_to '削除', article, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_article_path, class: 'btn btn-success', data: {"turbolinks"=>false} %>
<% end %>
