<% if admin_signed_in? %>

<% breadcrumb :articleindex  %>
<%= breadcrumbs separator: " > " , class: :logo %>

 <h1>お知らせ一覧</h1>
 <%= link_to 'お知らせを新規作成', new_article_path, class: 'btn btn-success btn-lg', data: {"turbolinks"=>false} %>
 <br>

 <div class="col-lg-7">
  <%= paginate @articles %>
 </div>

 <table class="table table-hover table-inverse" frame="border">
  <thead>
    <tr bgcolor=#66FFCC>
      <th>No.</th>
      <th>タイトル</th>
      <th>更新日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr bgcolor=#EEEEEE>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', article, class: 'btn btn-primary' %></td>
        <td><%= link_to '編集', edit_article_path(article), data: {"turbolinks"=>false}, class: 'btn btn-success' %></td>
        <td><%= link_to '削除', article, method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
 </table>
<% end %>
