<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>本文:</strong>
  <%= markdown(@article.body).html_safe %>
</p>
<% if admin_signed_in? %>
<%= link_to '編集', edit_article_path(@article) %> |
<%= link_to '戻る', articles_path %>
<% end %>
