<h2>gmap</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="codeAddress()">
<div id="display">something</div>

<div id='map'></div>

<style>#map {height: 600px;width: 600px;}</style>

<script>
let map
let geocoder
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 10,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>

<%= form_with model: @map, url: maps_path, local: true do |f| %>
  <%= f.label :address ,"住所" %>
  <%= f.text_field :address, required: true, size: '40', :placeholder => "住所入力" %>
  <%= f.label :profile ,"説明" %>
  <%= f.text_field :profile, size: '40', :placeholder => "説明文入力" %>
  <%= f.submit "送信", class: 'btn btn-primary', data: {"turbolinks"=>false} %>
<% end %>

<h3>場所一覧</h3>
<% @maps.each do |map| %>
  <p>住所 : <%= map.address %></p>
  <p>説明 : <%= map.profile %></p>
  <p><%= link_to "削除する", map_path(map.id), method: :delete %></p>
  <hr>
<% end %>
