<% breadcrumb :mapindex  %>
<%= breadcrumbs separator: " > " , class: :logo %>
<h2>場所一覧</h2>
<% @maps.each do |map| %>
  <p>住所: <%= map.address %></p>
  <p>説明: <%= map.profile %></p>
  <p>マップid  : <%= map.id %></p>

  <p>緯度: <%= map.latitude %></p>
  <p>経度: <%= map.longitude %></p>

  <p><%= link_to "削除する", map_path(map), method: :delete, data: { confirm: "本当に削除しますか？" }%></p>
  <hr>
<% end %>
