<h2>map</h2>
<input id="address" type="textbox" value="">
<input type="button" value="地図を検索" onclick="codeAddress()">
<div id="display">緯度経度が表示されるよ！</div>

<div id='map'></div>
<style>
  #map {
      height: 500px;
      width: 500px;
  }
</style>

<script>
  let map
  const display = document.getElementById('display')
  // mapの表示関数
  function initMap() {
      geocoder = new google.maps.Geocoder()
      // mapの初期位置, 縮尺を定義
      map = new google.maps.Map(document.getElementById('map'), {
          center: {
              lat: 35.6458437,
              lng: 139.7046171
          },
          zoom: 12,
      });
      // mapsテーブルにあるそれぞれのレコードをmap上に表示
      <% @maps.each do |map| %>
          (function(){
          var contentString = "住所：<%= map.address %>";
          // マーカーを立てる
          var marker = new google.maps.Marker({
              position:{lat: <%= map.latitude %>, lng: <%= map.longitude %>},
              map: map,
              title: contentString
          });
          // 情報ウィンドウ(吹き出し)の定義
          // 投稿の詳細ページへのリンクも
          var infowindow = new google.maps.InfoWindow({
          position: {lat: <%= map.latitude %>, lng: <%= map.longitude %>},
          content: "<a href='<%= map_url(map.id) %>' target='_blank'><%= map.address %></a>"
          });
          // クリックしたときに情報ウィンドウを表示
          marker.addListener('click', function() {
          infowindow.open(map, marker);
          });
          })();
      <% end %>
  }
  let geocoder
  // 地図検索関数
  function codeAddress() {
      let inputAddress = document.getElementById('address').value;
      geocoder.geocode({
          'address': inputAddress
      }, function (results, status) {
          if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
          display.textContent = "検索結果：" + results[ 0 ].geometry.location
          } else {
              alert('該当する結果がありませんでした：' + status);
          }
      });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>

<h3>場所投稿フォーム</h3>

<%= form_with model: @map, url: maps_path, local: true do |f| %>
  <p>
  <%= f.label :住所 %>
  <%= f.text_field :address, size: "50x1", required: true, :placeholder => "住所入力" %>
  <%= f.label :説明 %>
  <%= f.text_field :profile, size: "50x1", :placeholder => "説明文入力" %>
  </p>
  <%= f.submit "送信"%>
<% end %>

<h3>場所一覧</h3>
<% @maps.each do |map| %>
  <p>住所 : <%= map.address %></p>
  <p>紹介 : <%= map.profile %></p>
  <p>緯度 : <%= map.latitude %></p>
  <p>経度 : <%= map.longitude %></p>
  <p><%= link_to "削除する", map_path(map.id), method: :delete %></p>
  <hr>
<% end %>
