<% breadcrumb :newmap  %>
<%= breadcrumbs separator: " > " , class: :logo %>

<h2>gmap</h2>
<input id="address" type="textbox" value="東京" placeholder="入力してください">
<input type="button" value="住所検索" onclick="codeAddress()">

<div id="kekka">検索住所</div>
<div id="display">(緯度, 経度)</div>


<%= form_with model: @newmap, url: maps_path, local: true do |f| %>
<input type="hidden" name="map[address]" id="hidden_address">
  <%= f.label :profile ,"説明" %>
  <%= f.text_field :profile, size: '40', :placeholder => "説明文入力" %>
  <%= f.label :参考画像 %>
  <%= f.attachment_field :mapimage %>
  <%= f.submit "場所追加", class: 'btn btn-primary', data: {"turbolinks"=>false} %>
<% end %>

<div id='map'></div>

<style>#map {height: 600px;width: 600px;}</style>

<script>
let map
let geocoder
let marker
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  mapInstance  = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.6803997, lng:139.7690174},
    zoom: 10,
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.6803997, lng:139.7690174},
    map: mapInstance
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      mapInstance .setCenter(results[0].geometry.location);
      marker = new google.maps.Marker({
          map: mapInstance ,
          position: results[0].geometry.location
      });
      display.textContent = "(緯度, 経度)：" + results[ 0 ].geometry.location
      kekka.textContent = "検索住所：" + inputAddress

      let hidden_address = document.getElementById('hidden_address');
      hidden_address.setAttribute("value", inputAddress);
      } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>
