

<%= form_with model: @newmap, url: maps_path, local: true do |f| %>
  <%= f.label :address ,"住所" %>
  <%= f.text_field :address, required: true, size: '40', :placeholder => "住所入力" %>
  <%= f.label :profile ,"説明" %>
  <%= f.text_field :profile, size: '40', :placeholder => "説明文入力" %>
  <%= f.submit "送信", class: 'btn btn-primary', data: {"turbolinks"=>false} %>
<% end %>



<h3>場所一覧</h3>
<% @maps.each do |map| %>
  <p>住所 : <%= map.address %></p>
  <p>説明 : <%= map.profile %></p>
  <p><%= link_to "削除する", map_path(map), method: :delete %></p>
  <hr>
<% end %>