<h2>新規会員登録</h2>
<div class ="login">
  <%= form_for(resource, as: resource_name, url: member_registration_path) do |f| %>
    <%= render "members/shared/error_messages", resource: resource %>
    <table class="logtable">
      <tr>
        <td><%= f.label :登録名 %></td>
        <td><%= f.text_field :name, autofocus: true, required: true, maxlength: "60", class: 'form-control', size: "60", :placeholder => "登録名入力" %></td>
      </tr>
      <tr>
        <td>ログイン用<%= f.label :仮メールアドレス %></td>
        <td><%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", maxlength: "60", class: 'form-control', :placeholder => "メールアドレス入力" %></td>
      </tr>
      <tr>
        <td><%= f.label :パスワード（６文字以上） %></td>
        <td><%= f.password_field :password, required: true, autocomplete: "new-password", class: 'form-control', :placeholder => "パスワード入力" %></td>
      </tr>
      <tr>
        <td><%= f.label :パスワード（確認用） %></td>
        <td><%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: 'form-control', :placeholder => "パスワード再入力" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "新規登録する", class: 'btn btn-success btn-lg' %></td>
      </tr>
      <tr>
        <td>各snsアカウント認証だと入力不要</td>
        <td><%= link_to image_tag("google.png", size: '60x50'), member_google_oauth2_omniauth_authorize_path, method: :post %>
            <%= link_to image_tag("twitter.png", size: '60x50'), member_twitter_omniauth_authorize_path, method: :post %>
            <%= link_to image_tag("facebook.png", size: '60x50'), member_facebook_omniauth_authorize_path, method: :post %>
            <%= link_to image_tag("github.png", size: '60x50'), member_github_omniauth_authorize_path, method: :post %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
