<div class='container'>
  <div class="row">
   <div class="col-lg-6">
      <h2>新規回答投稿</h2>
   </div>
    <table class="table table-borderless">
      <tbody>
       <%= form_with model: @answer, url: public_answer_path, local: true do |f| %>
       <tr>
        <td><%= f.label :回答本文更新 %></td>
        <td><%= f.text_area :answerbody, autofocus: true, required: true %></td>
       </tr>
       <tr>
        <td><%= f.label :出典・参考url更新 %></td>
        <td><%= f.text_field :answersyutten, autofocus: true, required: true %></td>
       </tr>
       <tr>
        <td><%= f.label :参考画像 %></td>
        <td><%= f.attachment_field :answerimage %></td>
       </tr>
       <tr>
        <td><%= f.submit "回答を更新する", class: 'btn btn-success' %></td>
         <% end %>
       </tr>
     </tbody>
    </table>
  </div>
</div>