<% breadcrumb :publicchat  %>
<%= breadcrumbs separator: " > " , class: :logo %>

<div class="center">
 <h2>自分と「<%= @member.name %>」さんとのチャット
     <%= attachment_image_tag @member, :profileimage, :fill, 90, 90, fallback: "no_image.jpg" %>
     <%= link_to '「' + @member.name + '」さんの会員画面へ戻る',public_member_path(@member.id), class: 'btn btn-danger', data: {"turbolinks"=>false} %>
 </h2>
</div>
<div class="chats">
 <% @chats.each do |chat| %>
  <%if chat.member_id==current_member.id%>
   <div class="mycomment">
    <%= simple_format(chat.message) %>
   </div>
  <%else%>
   <div class="fukidasi">
    <div class="chatting">
     <div class="says">
      <%= simple_format(chat.message) %>
     </div>
    </div>
   </div>
  <%end%>
 <% end %>
</div>

<div class="center">
 <%= form_with model: @chat, url: public_chats_path, remote: true do |f| %>
  <%= f.text_area :message, autofocus: true, required: true, maxlength: "70", size: '50x2' %>
  <%= f.hidden_field :room_id %>
  <%= f.submit "チャット送信", class: 'btn btn-success' %>
 <% end %>
</div>

<br />