<h2><%= @member.name %>さんの会員情報</h2>
<div class='container'>
  <div class='row'>
    <div style="word-break: break-all;">
       <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>登録名</td>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <td>会員id</td>
            <td><%= @member.id %></td>
          </tr>
          <tr>
            <td>プロフィール</td>
            <td width="300" height="150"><%= simple_format(@member.profile) %></td>
          </tr>
          </div>
          <tr>
            <td>プロフィール画像</td>
            <td><%= attachment_image_tag @member, :profileimage, :fill, 90, 90, fallback: "no_image.jpg" %></td>
          </tr>
        </tbody>
      </table>
      <% if member_signed_in? %>
      <% if @member.id == current_member.id %>
      <h6><%= link_to '登録情報を編集する',edit_public_member_path(current_member), class: 'btn btn-success', data: {"turbolinks"=>false} %></h6>
      <h6><%= link_to '退会する',public_unsubscribe_path, class: 'btn btn-danger' %></h6>
      <% end %>
      <% end %>
    </div>
  </div>
</div>