<div class="split">
 <% if current_page?(public_members_path) %>
  <div class="nowpath"><%= link_to '会員一覧', public_members_path, class: 'fas fa-user', data: {"turbolinks"=>false} %></div>
 <% elsif current_page?(public_member_path(@member.id)) %>
  <div><%= link_to '会員一覧', public_members_path, class: 'fas fa-user', data: {"turbolinks"=>false} %></div></br>
  <div class="nowpath"><%= link_to '会員詳細', public_member_path(@member.id), class: 'fas fa-comment-dots', data: {"turbolinks"=>false} %></div></br>
  <% if member_signed_in? %>
   <% if @member.id != current_member.id %>
    <div><%= link_to 'チャット', public_chat_path(@member.id), class: 'fas fa-comment-dots', data: {"turbolinks"=>false} %></div>
   <% end %>
  <% end %>
 <% elsif current_page?(edit_public_member_path(@member.id)) %>
  <div><%= link_to '会員一覧', public_members_path, class: 'fas fa-user', data: {"turbolinks"=>false} %></div></br>
  <div><%= link_to '会員詳細', public_member_path(@member.id), class: 'fas fa-user', data: {"turbolinks"=>false} %></div></br>
   <% if member_signed_in? %>
    <% if @member.id != current_member.id %>
     <div><%= link_to 'チャット', public_chat_path(@member.id), class: 'fas fa-comment-dots', data: {"turbolinks"=>false} %></div></br>
    <% end %>
   <% end %>
  <div class="nowpath"><%= link_to '会員編集', edit_public_member_path(@member.id), class: 'fas fa-user-edit', data: {"turbolinks"=>false} %></div>
 <% elsif current_page?(public_chat_path(@member.id)) %>
  <div><%= link_to '会員一覧', public_members_path, class: 'fas fa-user', data: {"turbolinks"=>false} %></div></br>
  <div><%= link_to '会員詳細', public_member_path(@member.id), class: 'fas fa-user', data: {"turbolinks"=>false} %></div></br>
  <div class="nowpath"><%= link_to 'チャット', public_chat_path(@member.id), class: 'fas fa-comment-dots', data: {"turbolinks"=>false} %></div>
 <% end %>
</div>