<div class="split">
 <% if current_page?(sight_path(@sight.id)) %>
  <div><%= link_to 'おすすめ地域一覧', sights_path, class: 'fas fa-user-edit', data: {"turbolinks"=>false} %></div></br>
  <div class="nowpath"><%= link_to 'おすすめ地域詳細', sight_path(@sight.id), class: 'fas fa-user-edit', data: {"turbolinks"=>false} %></div></br>
 <% elsif current_page?(edit_sight_path(@sight.id)) %>
  <div><%= link_to 'おすすめ地域一覧', sights_path, class: 'fas fa-user-edit', data: {"turbolinks"=>false} %></div></br>
  <div><%= link_to 'おすすめ地域詳細', sight_path(@sight.id), class: 'fas fa-user-edit', data: {"turbolinks"=>false} %></div></br>
  <div class="nowpath"><%= link_to 'おすすめ地域編集', edit_sight_path(@sight.id), class: 'fas fa-user-edit', data: {"turbolinks"=>false} %></div></br>
 <% end %>
</div>