<h2><%= @member.name %>さんの会員編集</h2>
<div class='container'>
  <div class="row">
    <table class="table table-borderless">
      <tbody>
       <%= form_with model:@member, url: manager_member_path(@member), local:true do |f| %>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :name, size: "30" %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, size: "30" %></td>
        </tr>
        <tr>
          <td>プロフィール</td>
          <td><%= f.text_area :profile, size: '50x5' %></td>
        </tr>
        <tr>
          <td><%= f.label :プロフィール画像 %></td>
          <td><%= attachment_image_tag @member, :profileimage, :fill, 90, 90, fallback: "no_image.jpg" %>
          <label><%= check_box_tag :image_delete %>画像なし</label>
          <label><%= f.attachment_field :profileimage %></label>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <label><%= f.radio_button :is_deleted, false %>有効</label>
            <label><%= f.radio_button :is_deleted, true %>退会</label>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div style = "display:flex">
              <%= f.submit '変更を保存', class: 'btn btn-success' %></br>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>