<% breadcrumb :managermemberindex  %>
<%= breadcrumbs separator: " > " , class: :logo %>

<h1>会員一覧</h1>
<div class="oocontainer">
  <div class="row">

    <div class="col-lg-7">
     <%= paginate @members %>
    </div>

    <table class="table table-hover table-inverse" frame="border">
     <thead>
      <tr bgcolor=#66FFCC>
        <th>会員No </th>
        <th>登録者 </th>
        <th>ステータス</th>
      </tr>
     </thead>
     <tbody>
      <% @members.each do |member| %>
       <tr bgcolor=#EEEEEE>
        <td><%= member.id %></td>
        <td>
         <%= attachment_image_tag member, :profileimage, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
         <%= link_to member.name, manager_member_path(member) %>
        </td>
        <td>
         <% if member.is_deleted == true %><font color="gray">退会</font>
         <% elsif member.is_deleted == false %><font color="green">有効</font>
         <% else %>
         <% end %>
        </td>
       </tr>
      <% end %>
      </td></td>
     </tbody>
    </table>
</div>