<% breadcrumb :booksearch  %>
<%= breadcrumbs separator: " > " , class: :logo %>
<h1>本検索</h1>
<%= form_with url: book_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, required: true, size: "40x20", :placeholder => "キーワード入力" %>
  <%= f.submit '楽天ブックス簡易検索', class: "btn btn-danger", data: {"turbolinks"=>false} %>
  <% if @books.present? %>
   <%= render 'books/book' %>
  <% end %>
<% end %>
