
  <div class="center">
    <h2>管理者ログイン</h2>
      <div class="bottom">
       <%= form_for(resource, as: resource_name, url: admin_session_path) do |f| %>
        <table>
         <tr>
          <div class="field">
           <th><%= f.label :メールアドレス %></th>
           <th><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', size: "45" %></th>
          </div>
         </tr>
         <tr>
          <div class="field">
           <th><%= f.label :パスワード %></th>
           <th><%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %></th>
          </div>
         </tr>
        </table>

        <br></br>
          <div class="actions">
          <%= f.submit "ログインする", class: 'btn btn-primary' %>
          </div>
        <% end %>

    </div>
  </div>