<div class ="home-top">
 <div class="design">
  <h1>ようこそ!「我らの三国志」サイトへ！</h1>
 </div>
 <div class="home-top__home-title">
  <div class="home-top__home-title--red">
   <span class="home-top__home-subtitle">サイト趣旨</span>
  </div>
   当サイトは三国志等に関する会員制考察投稿サイトでございます!<br>
   歴史書の記述を重視したい方々が気軽に投稿・回答いただける場となることを願っております！<br>
   当サイトが盛り上がることで中長期的な三国志業界の発展に寄与できれば幸いでございます。<br>
   回答時出典明記義務付け、回答内容に対する評価、回答内容に対する感情スコア判定機能を用意しております。<br>
   (2022/5/8追記)おすすめスポットを紹介しあう機能も用意いたしました!<br>
   <br>
  <div class="slide">
   <div class="slideImg src1"></div>
   <div class="slideImg src2"></div>
   <div class="slideImg src3"></div>
   <div class="slideImg src4"></div>
   <div class="slideImg src5"></div>
   <div class="slideImg src6"></div>
  </div>
  <div class="home-top__home-title--blue">
   <span class="home-top__home-subtitle">お知らせ</span>
  </div>
  <div class="home-article">
    <table class="table">
     <tr bgcolor =#00FFFF>
      <th>タイトル</th>
      <th>更新日時</th>
     </tr>
    <% @articles.first(10).each do |article| %>
     <tr bgcolor=#CCCCCC>
      <td><%= link_to article.title, article_path(article.id) %></td>
      <td><%= article.updated_at.to_s(:datetime_jp) %></td>
     </tr>
    <% end %>
    </table>
  </div>

  <div class="home-top__home-title--blue">
   <span class="home-top__home-subtitle"><%= link_to "おすすめスポット", sights_path, data: {"turbolinks"=>false} %></span>
  </div>
  <table class="sighttable">
   <tr>
    <th>画像</th>
    <th>住所 (緯度,経度)</th>
    <th>説明</th>
    <th>いいね数</th>
    <th>平均評価点</th>
    <th></th>
   </tr>
   <% @sights.first(4).each do |sight| %>
   <tr>
    <td><%= link_to attachment_image_tag( sight, :mapimage, fallback: "no_image.jpg", size: '240x180'), sight_path(sight), data: {"turbolinks"=>false} %></td>
    <td><%= sight.address %>
       (<%= sight.latitude %>, <%= sight.longitude %>)
    </td>
    <td><%= sight.profile %></td>
    <td><%= sight.likes.count %>
        <% if member_signed_in? %>
         <% if sight.liked?(current_member) %>
          <%= link_to sight_likes_path(sight.id), method: :delete do %>
           <span style="color:red;">❤︎</span>
          <% end %>
         <% else %>
          <%= link_to sight_likes_path(sight.id), method: :post do %>
           <span>❤︎</span>
          <% end %>
         <% end %>
        <% else %>
         <span>❤︎</span>
        <% end %>
    </td>
    <td><%= render 'evaluates/review', sight: sight %></td>
    <td>
     <% if member_signed_in? %>
       <% if sight.member.id == current_member.id %>
        <%= link_to "削除する", sight_path(sight), class: 'btn btn-danger', method: :delete, data: { confirm: "本当に削除しますか？" }%>
        <%= link_to "編集する", edit_sight_path(sight), class: 'btn btn-success', data: {"turbolinks"=>false} %>
       <% elsif sight.member.id != current_member.id %>
        <%= link_to '評価する', new_sight_evaluate_path(sight.id), class: 'btn btn-warning', data: {"turbolinks"=>false} %>
       <% end %>
      <% elsif admin_signed_in? %>
       <%= link_to "削除する", sight_path(sight), class: 'btn btn-danger', method: :delete, data: { confirm: "本当に削除しますか？" }%>
      <% end %>
    </td>
   </tr>
   <% end %>
  </table>
  <div class="home-top__home-title--green">
   <span class="home-top__home-subtitle">参考サイト</span>
  </div>
  <div class="home-article">
   <table class="table">
    <tr bgcolor=#33FF66>
     <th>サイト名</th>
     <th>URL リンク</th>
    </tr>
    <tr bgcolor=#CCCCCC>
     <th>「我らの三国志」サイトツイッター</th>
     <th><a href="https://twitter.com/warerano3594">https://twitter.com/warerano3594</a></th>
    </tr>
   </table>
  </div>
  <br />
 </div>
</div>
