<div class="container px-5 px-sm-0">

 <div class="row">
  <div class="col-md-8">
  <table class="table table-hover table-inverse">

     <% if member_signed_in? %>
   <div>
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['会員'], ['質問タイトル']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backword_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
    </div>
    <% end %>


  <!--検索対象モデルが会員の時 -->
  <% if @range == "会員" %>
    <tbody>
      <h2> "<%= @oomember %>"　の検索結果を表示</h2>
      <th>会員</th>
      <th colspan="1"></th>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.name, public_member_path(member) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルが会員ではない時(= 検索対象モデルが質問タイトルの時) -->
    <tbody>
      <h2>"<%= @oopost %>"の検索結果を表示</h2>
      <th>質問タイトル</th>
      <th>質問者</th>
      <th>更新日時</th>
      <th colspan="2"></th>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.posttitle, public_post_path(post) %></td>
          <td><%= link_to post.member.name, public_member_path(post.member) %></td>
          <td><%= post.updated_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>


</div>
</div>