<h4>評価投稿</h4>

<%= form_with model: @newrate, url: public_answer_rates_path, local: true do |f| %>

<div id="star1">
  <%= f.label :communication, "言葉遣い評価：" %>
  <%= f.hidden_field :answer_id, :value => params[:answer_id] %>
  <%= f.hidden_field :communication, :value => 0,  id: :rate_star %>
  <script>
    $('#star1').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'rate[communication]',
      half: true,
    });
  </script>
</div>

<div id="star2">
  <%= f.label :source, "出典評価：" %>
  <%= f.hidden_field :source, :value => 0, id: :rate_star %>
  <script>
    $('#star2').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'rate[source]',
      half: true,
    });
  </script>
</div>

<div id="star3">
  <%= f.label :rationality, "合理性評価：" %>
  <%= f.hidden_field :rationality, :value => 0, id: :rate_star %>
  <script>
    $('#star3').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'rate[rationality]',
      half: true,
    });
  </script>
</div>

<div id="star4">
  <%= f.label :intellect, "考察力評価：" %>
  <%= f.hidden_field :intellect, :value => 0, id: :rate_star %>
  <script>
    $('#star4').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'rate[intellect]',
      half: true,
    });
  </script>
</div>
<%= f.submit "評価する", class: 'btn btn-success' %>
<% end %>