<header>
<div class="header">
 <!--<ヘッダーメニュー開閉コード>-->
 <div class="hidden_box">
  <label for="label1" class="fas fa-bars fa-3x"></label>
   <input type="checkbox" id="label1"/>
    <div class="hidden_show">

  <!--<ログイン状態で項目変更>-->
    <div class="header__header-nav">
     <div class="header__header-nav__header-box">
      <%= link_to 'トップページ',root_path, class: "fas fa-home nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to '雑談部屋', zatudans_path, class: 'fas fa-comment-dots nav-link' %>
     </div>
     <% if member_signed_in? %>
     <div class="header__header-nav__header-box">
      <%= link_to 'マイページ', public_member_path(current_member.id), class: "fas fa-user nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to '会員一覧', public_members_path, class: "fas fa-user nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to '質問投稿一覧', public_posts_path, class: "fas fa-user-edit nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to 'お問い合わせ',new_contract_path, class: "fas fa-envelope-square nav-link", data: {"turbolinks"=>false} %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to 'ログアウト', destroy_member_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link' %>
     </div>
    <% elsif admin_signed_in? %>
     <div class="header__header-nav__header-box">
      <%= link_to '会員一覧', manager_members_path, class: "fas fa-user nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to '質問投稿一覧', manager_posts_path, class: "fas fa-user-edit nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to 'ジャンル一覧', manager_genres_path, class: "fas fa-file-alt nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to 'お知らせ一覧', articles_path, class: "fas fa-newspaper nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link' %>
     </div>
    <% else %>
     <div class="header__header-nav__header-box">
      <%= link_to '会員一覧', public_members_path, class: "fas fa-user nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to '質問投稿一覧', public_posts_path, class: "fas fa-user-edit nav-link" %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to '新規登録', new_member_registration_path,class: 'fas fa-user-plus nav-link' %>
     </div>
     <div class="header__header-nav__header-box">
      <%= link_to 'ログイン', new_member_session_path ,class: 'fas fa-sign-in-alt nav-link'%>
     </div>
    <% end %>

      <div class="user">
       <% if member_signed_in? %>
        <%= current_member.name %>
         <a data-toggle="dropdown" ><%= attachment_image_tag current_member, :profileimage, fallback: "no_image.jpg", size: '60x60', class: "aicon" %></a>
         <ul class="dropdown-menu">
          <li><%= link_to 'トップページ', root_path, class: "fas fa-home nav-link" %></li>
          <li><%= link_to '雑談部屋', zatudans_path, class: 'fas fa-comment-dots nav-link' %></li>
          <li><%= link_to 'マイページ', public_member_path(current_member.id), class: "fas fa-user nav-link" %></li>
          <li><%= link_to '会員一覧', public_members_path, class: "fas fa-user nav-link" %></li>
          <li><%= link_to '質問投稿一覧', public_posts_path, class: "fas fa-user-edit nav-link" %></li>
          <li><%= link_to 'お問い合わせ', new_contract_path, class: "fas fa-envelope-square nav-link", data: {"turbolinks"=>false} %></li>
          <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link' %></li>
         </ul>
       <% elsif admin_signed_in? %>
         <a data-toggle="dropdown" ><%= image_tag 'no_image_logo.png', size: '50x50', class: "aicon" %></a>
         <ul class="dropdown-menu">
          <li><%= link_to 'トップページ', root_path, class: "fas fa-home nav-link" %></li>
          <li><%= link_to '雑談部屋', zatudans_path, class: 'fas fa-comment-dots nav-link' %></li>
          <li><%= link_to '会員一覧', manager_members_path, class: "fas fa-user nav-link" %></li>
          <li><%= link_to '質問投稿一覧', manager_posts_path, class: "fas fa-user-edit nav-link" %></li>
          <li><%= link_to 'ジャンル一覧', manager_genres_path, class: "fas fa-file-alt nav-link" %></li>
          <li><%= link_to 'お知らせ一覧', articles_path, class: "fas fa-newspaper nav-link" %></li>
          <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link' %></li>
         </ul>
       <% else %>
        <div class="loginaicon">
         <%= link_to 'ログイン', new_member_session_path, class: 'btn btn-primary' %>
         <%= link_to '新規登録', new_member_registration_path,class: 'btn btn-secondary' %>
        </div>
       <% end %>
     </div>

   </div>
  </div>
 </div>
</div>

</header>