<header>
 <div class="header-nav">
   <div class="user">
    <% if member_signed_in? %>
      <a data-toggle="dropdown" ><label for="label1" class="fas fa-bars fa-4x"></a>
      <ul class="dropdown-menu">
       <div class="box-color">
        <li><div class="header-nav__header-box"><%= link_to 'トップページ', root_path, class: 'fas fa-home nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '質問投稿一覧', public_posts_path, class: 'fas fa-user-edit nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '雑談部屋', zatudans_path, class: 'fas fa-comment-dots nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to 'マイページ', public_member_path(current_member.id), class: 'fas fa-user nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '会員一覧', public_members_path, class: 'fas fa-user nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to 'おすすめ地域一覧', sights_path, class: 'fas fa-solid fa-map nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '書籍検索', book_search_path, class: 'fas fa-book nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link fa-lg' %></div></li>
       </div>
      </ul>
    <% elsif admin_signed_in? %>
      <a data-toggle="dropdown" ><label for="label1" class="fas fa-bars fa-4x"></label></a>
      <ul class="dropdown-menu">
       <div class="box-color">
        <li><div class="header-nav__header-box"><%= link_to 'トップページ', root_path, class: 'fas fa-home nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '質問投稿一覧', manager_posts_path, class: 'fas fa-user-edit nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '雑談部屋', zatudans_path, class: 'fas fa-comment-dots nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '会員一覧', manager_members_path, class: 'fas fa-user nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to 'ジャンル一覧', manager_genres_path, class: 'fas fa-file-alt nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to 'お知らせ一覧', articles_path, class: 'fas fa-newspaper nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '書籍検索', book_search_path, class: 'fas fa-book nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link fa-lg' %></div></li>
       </div>
      </ul>
    <% else %>
     <a data-toggle="dropdown" ><label for="label1" class="fas fa-bars fa-4x"></a>
      <ul class="dropdown-menu">
       <div class="box-color">
        <li><div class="header-nav__header-box"><%= link_to 'トップページ', root_path, class: 'fas fa-home nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '質問投稿一覧', public_posts_path, class: 'fas fa-user-edit nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '雑談部屋', zatudans_path, class: 'fas fa-comment-dots nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '会員一覧', public_members_path, class: 'fas fa-user nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to '書籍検索', book_search_path, class: 'fas fa-book nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to 'お問い合わせ', new_contract_path, class: 'fas fa-envelope-square nav-link fa-lg', data: {"turbolinks"=>false} %></div></li>
        <li><div class="header-nav__header-box"><%= link_to "新規登録", new_member_registration_path, class: 'fas fa-registered nav-link fa-lg' %></div></li>
        <li><div class="header-nav__header-box"><%= link_to 'ログイン', new_member_session_path, class: 'fas fa-sign-in-alt nav-link fa-lg' %></div></li>
       </div>
      </ul>
    <% end %>
  </div>
  <div class="search">
   <%= form_with url: search_path, local: true, method: :get do |f| %>
    <a><%= f.select :range, options_for_select([['質問タイトル'],['会員'],['ジャンル']]) %></a>
    <a class="keywordaicon"><%= f.text_field :word, size: '60', :placeholder => "検索内容入力" %></a>
    <a><%= f.submit "検索", class: "btn btn-primary btn-lg", data: {"turbolinks"=>false} %></a>
    <%= f.hidden_field :search, :value => "partial_match" %>
   <% end %>
   <% if member_signed_in? %>
    <a><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'btn btn-primary' %></a>
   <% elsif admin_signed_in? %>
    <a><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'btn btn-primary' %></a>
   <% else %>
    <a><%= link_to "新規登録", new_member_registration_path, class: 'btn btn-success' %></a>
    <a><%= link_to 'ログイン', new_member_session_path, class: 'btn btn-primary' %></a>
    <a><%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post, class: 'btn btn-warning' %></a>
    <a><button><%= link_to "Googleアカウントログイン", member_google_oauth2_omniauth_authorize_path, method: :post , class: 'fab fa-google' %></button></a>
    <a><button><%= link_to "twitterログイン", member_twitter_omniauth_authorize_path, method: :post, class:' fab fa-twitter' %></button></a>
    <a><button><%= link_to "facebookログイン", member_facebook_omniauth_authorize_path, method: :post, class: 'fab fa-facebook-square' %></button></a>
    <a><button><%= link_to "githubログイン", member_github_omniauth_authorize_path, method: :post, class: 'fab fa-github' %></button></a>
   <% end %>
   </div>
  <%= link_to image_tag("warerano3594.png"), root_path, data: {"turbolinks"=>false} %>
 </div>
</header>
