<!DOCTYPE html>
<html>
  <head>
    <title>Sangoku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <meta name="viewport" content="initial-scale=1.0">
    <!--ヘッダー部分-->
     <%= render 'layouts/header' %>

      <main>
         <meta name="viewport" content="initial-scale=1.0">
        <%= yield %>
      </main>
  </body>
</html>
